/*#cube-0-1{
  background: blue;
}
#cube-0-2{
  background: blue;
}
#cube-0-3{
  background: blue;
}
#cube-1-3{
  background: blue;
}*/

.bg-blue {
  background: blue;
}
.bg-yellow {
  background: yellow;
}

.tetris-table{
  width: 220px;
  height: 440px;
  background-color: #000;
}
.tetris-table .tetris-line{

}
.tetris-table .tetris-line .tetris-cube{
  border: 0;
  /*outline: 1px solid red;*/
  margin: -2px;
  width: 22px;
  height: 22px;
}
